.fight-area{
    display: flex;
    gap: 20px;
}
#char,
#char2{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.life-bar{
    border: 1px solid black;
    height: 10px;
}
.bar{
    width: 10%;
    background-color: blueviolet;
    height: inherit;
}
.log{
    overflow-y: scroll;
    border: 1px dotted black;
    height: 500px;
}