* {
  box-sizing: border-box;
}
.body {
  margin: 0;
}
.screen {
  display: flex;
  height: 100vh;
}
.left--side {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.left--side img {
  width: 80%;
  height: auto;
  max-width: 500px;
}
.right--side {
  width: 400px;
  background-color: #ddd;
  padding: 50px;
}
.right--side label {
  display: block;
  margin-bottom: 10px;
}
.right--side input {
  border: 1px solid #999;
  border-radius: 5px;
  padding: 5px;
  font-size: 13px;
  width: 100%;
  outline: 0;
}

.error{
  font-size: 11px;
  background-color: #f00;
  color: #fff;
  padding: 4px;
  border-radius: 5px;
}