@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  font-family: "Roboto";
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(45deg, #968bf5, #5f52be);
  height: 100vh;
}
form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.title {
  font-size: 30px;
  margin-bottom: 30px;
}
.left-side .title {
  color: #165aec;
}
.right-side .title {
  color: #ffffff;
}

label {
  width: 100%;
}

input:focus,
select:focus {
  outline: none;
}

input,
select {
  border: none;
  border-bottom: 1px solid #a9a9a9;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
}
select {
  color: #a9a9a9;
}
.input-select.has-value {
  color: #000;
}

input::placeholder {
  color: #a9a9a9;
}
.left-side,
.right-side {
  height: 500px;
  width: 350px;
  padding: 50px;
}

.left-side {
  background-color: #fff;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.right-side {
  background-color: #4835d4;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.full-name {
  display: flex;
  gap: 20px;
}
.right-side input,
.right-side select {
  background-color: transparent;
}
.right-side input {
  color: #fff;
}

.code-number {
  display: flex;
  gap: 20px;
}
.code-number .code {
  flex: 1;
}
.code-number .number {
  flex: 3;
}
.check-box-terms {
  display: flex;
  font-size: 12px;
  gap: 10px;
  align-items: center;
  color: #fff;
}
.check-box-terms input {
  width: 12px;
}
.check-box-terms a {
  color: #fff;
}
button {
  padding: 10px;
  border-radius: 20px;
}
.input-select-white.has-value-white {
  color: #fff;
  background-color: #4835d4;
}
.input-select-white.has-value-white option {
  color: #fff; /* Cor do texto dentro das opções */
}
